<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Muokkaa asiakkaan tietoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/edit-and-new-styles.css" />
</head>

<body>
    <h1>Muokkaa asiakkaan tietoja</h1>
    <div>
        <form th:object="${asiakasEdit}" th:action="@{/asiakasSaveEdited}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <div>
                <label>Nimi</label>
                <input type="text" th:field="*{nimi}" />
                <div th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</div>
            </div>
            <div>
                <label>Katuosoite</label>
                <input type="text" th:field="*{katuosoite}" />
                <div th:if="${#fields.hasErrors('katuosoite')}" th:errors="*{katuosoite}">Error</div>
            </div>
            <div>
                <label>Y-tunnus</label>
                <input type="text" th:field="*{yTunnus}" />
                <div th:if="${#fields.hasErrors('yTunnus')}" th:errors="*{yTunnus}">Error</div>
            </div>

            <div>
                <label for="postinumeroList">Postinumero</label>
                <select id="postinumeroList" th:field="*{postinumero.id}" class="form-control">
                    <option th:each="postinumero: ${postinumerot}" 
                            th:value="${postinumero.id}" 
                            th:text="${postinumero.postitoimipaikka}">
                    </option>
                </select>
            </div>

            <div>
                <input type="submit" value="Tallenna muutokset"></input>
            </div>
        </form>

    </div>


</body>

</html>