<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <title>Lista asiakkaista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/list-styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="col-md-4">
        <h1>Asiakkaat</h1>
      </div>

      <div class="top-right">
        <span sec:authentication="name">Name</span>
        <form th:action="@{/logout}" method="post" style="margin-left: 10px">
          <input type="submit" value="Kirjaudu ulos" />
        </form>
      </div>
    </div>

    <table>
      <tr>
        <th>ID</th>
        <th>Nimi</th>
        <th>Katuosoite</th>
        <th>Y-tunnus</th>
        <th>Postinumero</th>
        <th sec:authorize="hasAuthority('ADMIN')"></th>
        <th></th>
      </tr>

      <tr th:each="asiakas : ${asiakkaat}">
        <td th:text="${asiakas.id}"></td>
        <td th:text="${asiakas.nimi}"></td>
        <td th:text="${asiakas.katuosoite}"></td>
        <td th:text="${asiakas.yTunnus}"></td>
        <td th:text="${asiakas.postinumero.postinumero}"></td></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/asiakasDelete/{id}(id=${asiakas.id})}">Poista</a></td>
        <td><a th:href="@{/asiakasEdit/{id}(id=${asiakas.id})}">Muokkaa</a></td>
      </tr>
    </table>

    <p><a href="/asiakasNew">Lisää uusi asiakas</a></td>
    </p>
    <a href="/index">Palaa kotisivulle</a>
  </body>
</html>
