<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Drinkkiluostari</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <p>Tervetuloa Drinkkiluostariin!</p>
      <p><a href="/asiakasList">Asiakkaat</a></p>
      <p><a href="/tilausList">Tilaukset</a></p>
      <p><a href="/tuoteList">Tuotteet</a></p>
      <p><a href="/tyontekijaList">Työntekijät</a></p>
    </div>
  </body>
</html>
