<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Muokkaa tilauksen tietoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/edit-and-new-styles.css" />
</head>

<body>
    <h1>Muokkaa tilauksen tietoja</h1>
    <div>
        <form th:object="${tilausEdit}" th:action="@{/tilausSaveEdited}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <div>
                <label>Päivämäärä</label>
                <input type="datetime-local" th:field="*{pvm}" />
                <div th:if="${#fields.hasErrors('pvm')}" th:errors="*{pvm}">Error</div>
            </div>

            <div>
                <label for="tyontekijaList">Työntekijät</label>
                <select id="tyontekijaList" th:field="*{tyontekija.id}" class="form-control">
                    <option th:each="tyontekija: ${tyontekijat}" th:value="${tyontekija.id}"
                        th:text="${tyontekija.sukunimi}">
                    </option>
                </select>
            </div>

            <div>
                <label for="asiakasList">Asiakkaat</label>
                <select id="asiakasList" th:field="*{asiakas.id}" class="form-control">
                    <option th:each="asiakas: ${asiakkaat}" th:value="${asiakas.id}"
                        th:text="${asiakas.nimi}">
                    </option>
                </select>
            </div>

            <div>
                <input type="submit" value="Tallenna muutokset"></input>
            </div>
        </form>

    </div>


</body>

</html>