<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Uusi tuote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/edit-and-new-styles.css" />
</head>

<body>
    <h1>Lisää uusi tuote</h1>
    <div>
        <form action="#" th:object="${tuote}" th:action="@{/tuoteSave}" method="post">
            <div>
                <label>Nimi</label>
                <input type="text" th:field="*{nimi}" />
                <div th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</div>
            </div>

            <div>
                <label>Hinta</label>
                <input type="number" th:field="*{hinta}" step="0.01" />
                <div th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}">Error</div>
            </div>

            <div>
                <label for="kategoriaList">Kategoria</label>
                <select id="kategoriaList" th:field="*{kategoria}" class="form-control">
                    <option th:each="kategoria: ${kategoriat}" th:value="${kategoria.id}"
                        th:text="${kategoria.nimi}">
                    </option>
                </select>
            </div>

            <div>
                <input type="submit" value="Tallenna"></input>
            </div>
        </form>

    </div>

</body>

</html>