<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Muokkaa tuotteen tietoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/edit-styles.css" />
</head>

<body>
    <h1>Muokkaa tuotteen tietoja</h1>
    <div>
        <form th:object="${tuoteEdit}" th:action="@{/tuoteSaveEdited}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <div>
                <label>Nimi</label>
                <input type="text" th:field="*{nimi}" />
                <div th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</div>
            </div>

            <div>
                <label>Hinta</label>
                <input type="number" th:field="*{hinta}" step="0.01" />
                <div th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}">Error</div>
            </div>

            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="kategoriaList">Kategoriat</label>
            <select id="kategoriaList" th:field="*{kategoria}" class="form-control">
                <option th:each="kategoria: ${kategoriat}" th:value="${kategoria.id}"
                    th:text="${kategoria.nimi}">
                </option>
            </select>
            <div style="clear: both; display: block; height: 10px;"></div>

            <input type="submit" value="Tallenna muutokset"></input>
        </form>

    </div>


</body>

</html>