<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Uusi työntekijä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/new-styles.css" />
</head>

<body>
    <h1>Lisää uusi työntekijä</h1>
    <div>
        <form action="#" th:object="${tyontekija}" th:action="@{tyontekijaSave}" method="post">
            <div>
                <label>Etunimi</label>
                <input type="text" th:field="*{etunimi}" />
                <div th:if="${#fields.hasErrors('etunimi')}" th:errors="*{etunimi}">Error</div>
            </div>

            <div>
                <label>Sukunimi</label>
                <input type="text" th:field="*{sukunimi}" />
                <div th:if="${#fields.hasErrors('sukunimi')}" th:errors="*{sukunimi}">Error</div>
            </div>

            <div>
                <label>Sähköposti</label>
                <input type="text" th:field="*{sahkoposti}" />
                <div th:if="${#fields.hasErrors('sahkoposti')}" th:errors="*{sahkoposti}">Error</div>
            </div>

            <div>
                <label>Salasana</label>
                <input type="text" th:field="*{salasana}" />
                <div th:if="${#fields.hasErrors('salasana')}" th:errors="*{salasana}">Error</div>
            </div>

            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="rooliList">Rooli</label>
            <select id="rooliList" th:field="*{rooli}" class="form-control">
                <option th:each="rooli: ${roolit}" th:value="${rooli.id}"
                    th:text="${rooli.rooli}">
                </option>
            </select>

            <div style="clear: both; display: block; height: 10px;"></div>

            <input type="submit" value="Tallenna"></input>
        </form>

    </div>

</body>

</html>