<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Muokkaa työntekijän tietoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/edit-and-new-styles.css" />
</head>

<body>
    <h1>Muokkaa työntekijän tietoja</h1>
    <div>
        <form th:object="${tyontekijaEdit}" th:action="@{/tyontekijaSaveEdited}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <div>
                <label>Etunimi</label>
                <input type="text" th:field="*{etunimi}" />
                <div th:if="${#fields.hasErrors('etunimi')}" th:errors="*{etunimi}">Error</div>
            </div>

            <div>
                <label>Sukunimi</label>
                <input type="text" th:field="*{sukunimi}" />
                <div th:if="${#fields.hasErrors('sukunimi')}" th:errors="*{sukunimi}">Error</div>
            </div>

            <div>
                <label>Sähköposti</label>
                <input type="text" th:field="*{sahkoposti}" />
                <div th:if="${#fields.hasErrors('sahkoposti')}" th:errors="*{sahkoposti}">Error</div>
            </div>

            <div>
                <label>Salasana</label>
                <input type="text" th:field="*{salasana}" />
                <div th:if="${#fields.hasErrors('salasana')}" th:errors="*{salasana}">Error</div>
            </div>

            <div>
                <label for="rooliList">Roolit</label>
                <select id="rooliList" th:field="*{rooli.id}" class="form-control">
                    <option th:each="rooli: ${roolit}" th:value="${rooli.id}"
                        th:text="${rooli.nimi}">
                    </option>
                </select>
            </div>

            <div>
                <input type="submit" value="Tallenna muutokset"></input>
            </div>
        </form>

    </div>


</body>

</html>